In [21]:
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import torch.nn.functional as F
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv('housing-data.csv')

In [23]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [24]:
data.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [25]:
data= data.dropna()

In [26]:
X = data[['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','RAD','DIS','PTRATIO','B','LSTAT']]

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 504
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     394 non-null    float64
 1   ZN       394 non-null    float64
 2   INDUS    394 non-null    float64
 3   CHAS     394 non-null    float64
 4   NOX      394 non-null    float64
 5   RM       394 non-null    float64
 6   AGE      394 non-null    float64
 7   RAD      394 non-null    int64
 8   DIS      394 non-null    float64
 9   PTRATIO  394 non-null    float64
 10  B        394 non-null    float64
 11  LSTAT    394 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 40.0 KB

In [28]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,RAD,DIS,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,1,4.0900,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,2,4.9671,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,2,4.9671,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,3,6.0622,18.7,394.63,2.94
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,3,6.0622,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,6,2.3999,19.2,395.77,15.10
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,6,2.4982,19.2,396.90,14.33
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,1,2.2875,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,1,2.1675,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,1,2.3889,21.0,393.45,6.48

In [29]:
y = data[['MEDV']]

In [30]:
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
5    28.7
..    ...
499  17.5
500  16.8
502  20.6
503  23.9
504  22.0

[394 rows x 1 columns]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar los datos (recomendable para redes neuronales)
#scaler = StandardScaler()
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Convertir a tensores de PyTorch
X_train = torch.tensor(np.array(X_train),dtype=torch.float32,requires_grad=True)
X_test  = torch.tensor(np.array(X_test),dtype=torch.float32,requires_grad=True)
y_train = torch.tensor(np.array(y_train).reshape(-1,1),dtype=torch.float32)
y_test  = torch.tensor(np.array(y_test).reshape(-1,1),dtype=torch.float32)
#x=torch.tensor(np.array(X_train),dtype=torch.float32,requires_grad=True)
#y=torch.tensor(np.array(y_train).reshape(-1,1),dtype=torch.float32)
#x

In [32]:
y_test

tensor([[25.0000],
        [18.6000],
        [21.0000],
        [23.5000],
        [17.5000],
        [33.8000],
        [19.7000],
        [24.8000],
        [32.0000],
        [14.0000],
        [21.7000],
        [50.0000],
        [16.5000],
        [20.0000],
        [20.6000],
        [24.1000],
        [19.4000],
        [17.2000],
        [50.0000],
        [11.0000],
        [18.2000],
        [16.8000],
        [12.6000],
        [24.0000],
        [22.6000],
        [17.4000],
        [22.0000],
        [30.8000],
        [20.3000],
        [22.6000],
        [50.0000],
        [14.6000],
        [50.0000],
        [20.0000],
        [19.5000],
        [17.1000],
        [17.4000],
        [22.0000],
        [22.5000],
        [21.0000],
        [26.6000],
        [39.8000],
        [23.0000],
        [29.4000],
        [34.6000],
        [19.4000],
        [24.7000],
        [16.3000],
        [19.2000],
        [24.8000],
        [20.0000],
        [19.4000],
        [13.5000],
        [19.1000],
        [23.1000],
        [22.7000],
        [50.0000],
        [22.4000],
        [16.6000],
        [21.0000],
        [21.7000],
        [24.5000],
        [14.9000],
        [30.1000],
        [ 7.0000],
        [31.7000],
        [14.9000],
        [26.7000],
        [23.8000],
        [27.1000],
        [35.4000],
        [33.2000],
        [16.1000],
        [23.0000],
        [19.9000],
        [38.7000],
        [17.1000],
        [33.4000],
        [15.2000]])

In [39]:
class NeuralNet(nn.Module):
    def __init__(self):
        super(NeuralNet,self).__init__()
        self.layer1=nn.Linear(X_train.shape[1],39)
        self.layer2=nn.Linear(39,26)
        self.layer3=nn.Linear(26,13)
        self.layer4=nn.Linear(13,1)
    
    def forward(self, x):
        x=F.relu(self.layer1(x))
        x=F.relu(self.layer2(x))
        x=F.relu(self.layer3(x))
        x=F.relu(self.layer4(x))
        return x

# Crear una instancia del modelo
model = NeuralNet()

In [40]:
print(model)

NeuralNet(
  (layer1): Linear(in_features=12, out_features=39, bias=True)
  (layer2): Linear(in_features=39, out_features=26, bias=True)
  (layer3): Linear(in_features=26, out_features=13, bias=True)
  (layer4): Linear(in_features=13, out_features=1, bias=True)
)

In [41]:
loss_fn=nn.MSELoss()

# Definir el optimizador (Adam en este caso)
optimizer= optim.SGD(model.parameters(),lr=0.003)

In [42]:
# Definir hiperparÃ¡metros
epochs = 100
batch_size = 32

# Dividir los datos en batches
train_loader = torch.utils.data.DataLoader(dataset=list(zip(X_train, y_train)), batch_size=batch_size, shuffle=True)

# Ciclo de entrenamiento
for epoch in range(epochs):
    model.train()  # Poner el modelo en modo entrenamiento
    for X_batch, y_batch in train_loader:
        # Hacer predicciÃ³n
        outputs = model(X_batch)
        loss = loss_fn(outputs, y_batch)
        
        # Limpiar los gradientes
        optimizer.zero_grad()
        
        # Hacer backpropagation y optimizar
        loss.backward()
        optimizer.step()
    
    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [10/100], Loss: 18.6361
Epoch [20/100], Loss: 15.9344
Epoch [30/100], Loss: 23.5169
Epoch [40/100], Loss: 6.3612
Epoch [50/100], Loss: 3.9232
Epoch [60/100], Loss: 5.1962
Epoch [70/100], Loss: 2.8078
Epoch [80/100], Loss: 9.4890
Epoch [90/100], Loss: 2.4167
Epoch [100/100], Loss: 4.5726

In [43]:
# Evaluar el modelo
model.eval()  # Poner el modelo en modo evaluaciÃ³n
with torch.no_grad():  # Desactivar el cÃ¡lculo de gradientes
    predictions = model(X_test)
    test_loss = loss_fn(predictions, y_test)
    print(f'MSE en el conjunto de prueba: {test_loss.item():.4f}')

MSE en el conjunto de prueba: 24.1896

In [44]:
# Hacer predicciones en los datos de prueba
with torch.no_grad():
    predictions = model(X_test)

# Mostrar algunas predicciones
for i in range(5):
    print(f"PredicciÃ³n: {predictions[i].item()}, Valor real: {y_test[i].item()}")

PredicciÃ³n: 22.360881805419922, Valor real: 25.0
PredicciÃ³n: 17.79051399230957, Valor real: 18.600000381469727
PredicciÃ³n: 19.035888671875, Valor real: 21.0
PredicciÃ³n: 21.460609436035156, Valor real: 23.5
PredicciÃ³n: 19.41925621032715, Valor real: 17.5